@model TeacherAddDto
<h1>Yeni Öğretmen Ekleme</h1>
<hr />
<form asp-area="Admin"
      asp-controller="Teacher"
      asp-action="Create"
      method="post"
      enctype="multipart/form-data">
    <div class="row">
        <div class="col-8">
            <div class="mb-3">
                <label asp-for="FirstName" class="form-label"></label>
                <input class="form-control" asp-for="FirstName">
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="LastName" class="form-label"></label>
                <input class="form-control" asp-for="LastName">
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
              <div class="mb-3">
                <label asp-for="UniverstyGraduatedFrom" class="form-label"></label>
                <input class="form-control" asp-for="UniverstyGraduatedFrom">
                <span asp-validation-for="UniverstyGraduatedFrom" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="HourlyPrice" class="form-label"></label>
                <input class="form-control" asp-for="HourlyPrice">
                <span asp-validation-for="HourlyPrice" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Email" class="form-label"></label>
                <input class="form-control" asp-for="Email">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Phone" class="form-label"></label>
                <input class="form-control" asp-for="Phone">
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Age" class="form-label"></label>
                <input class="form-control" asp-for="Age">
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Gender" class="form-label"></label>
                <input class="form-control" asp-for="Gender">
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Description" class="form-label"></label>
                <input class="form-control" asp-for="Description">
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Location" class="form-label"></label>
                <input class="form-control" asp-for="Location">
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <img id="img-viewer" src="" />
                <input class="d-none" type="file" asp-for="ImageFile" accept="image/" />
                <div>
                    <label for="ImageFile" class="btn btn-success">Resim Yükle</label>
                    <label id="img-url">@Model.ImageUrl</label>
                </div>
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Description" class="form-label"></label>
                <input class="form-control" asp-for="Description">
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary">Kaydet</button>
            <a type="button" class="btn btn-light"
               asp-area="Admin"
               asp-controller="Teacher"
               asp-action="Index">Vazgeç</a>
        </div>
        <div class="col-4">
            <div class="mb-3">
                <label class="form-label" asp-for="Branchs"></label>
                @foreach (var branch in Model.Branchs)
                {
                    <div>
                        <input type="checkbox"
                           class="form-check-input"
                           name="SelectedBranchId"
                           value="@branch.Id"
                           @if (Model.SelectedBranchId!=null)
                           {
                           @(Model.SelectedBranchId.Any(sc=>sc==branch.Id) ? "checked" : "")
                           } />
                        <label>@branch.Name</label>
                    </div>
                }
                <span asp-validation-for="SelectedBranchId" class="text-danger"></span>
            </div>
            </div>
</div>
</form>


@section Scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")
        }

<script>

    const imgViewer = document.getElementById('img-viewer');
    const imgUrl = document.getElementById('img-url');
    const imgFile = document.getElementById('ImageFile');

    imgFile.addEventListener('change', function (event) {
        const files = event.target.files;
        imgViewer.setAttribute('src', window.URL.createObjectURL(files[0]));

        imgUrl.innerText = files[0].name;
    });

</script>

