@*BU partialView product yoksa gösterilecektir.*@
<div class="row">
    <div class="col-12">
        <div class="alert alert-danger">
            Aradığınız öğretmen bulunamadı.
        </div>
    </div>
</div>
