<div class="p-4 text-center">

    <a class="btn btn-success fs-4"
       style="width:150px; height:150px;"
       asp-area="Admin"
       asp-controller="Teacher"
       asp-action="Index">Öğretmen</a>

    <a class="btn btn-info fs-4"
       style="width:150px; height:150px;"
       asp-area="Admin"
       asp-controller="Student"
       asp-action="Index">Öğrenci</a>

</div>