
<div class="container">
    <div class="row">
        <div class="col-2 mt-4">
            @await Component.InvokeAsync("Branch")
        </div>
        <div class="col-7 mt-4">
            <h1 class="text-danger">Öğretmen Başarıyla silinmiştir.</h1>
        </div>
    </div>
</div>


